<div id='proposal-vote-info' class="col">
  <div class="card box" style="padding-bottom: 0px;">
    <div class="card-content text-center">
      <% unless is_current_user_owner_of?(proposal) || current_user_arent_the_city_of?(proposal) %>
        <%if (proposal.differencebetween == false) && proposal.votes_count < 5 %>
          <h5 class="text-muted" style='margin-bottom: 0px;'>Votez pour cette proposition</h5>
          <p class='text-muted' style='font-style: italic; margin-top: 0px'> Il reste : <%= proposal.lifetime %> jours pour voter</p>
          <%if user_signed_in?%>
            <%if Proposal.find(proposal.id).city.id == current_user.city.id%>
              <%if proposal.vote_of(current_user)%>
                <%= link_to '<i class="material-icons" style="font-size: 19px">sentiment_satisfied_alt</i> A voté'.html_safe, proposal_vote_path(proposal.id, proposal.vote_of(current_user).id), :class => "btn btn-success", method: :delete, remote: true %>
              <%else%>
                <%= link_to '<i class="material-icons" style="font-size: 19px">how_to_vote</i> Je vote'.html_safe, proposal_votes_path(proposal.id), :class => "btn btn-primary", method: :post, remote: true %>
              <%end%>
            <%else%>
              <p>Vous ne pouvez pas voter pour les propositions en dehors de votre ville !</p>
            <%end%> 
          <%else%>
            <p>Connectez-vous pour pouvoir voter!</p> 
          <%end%>
        <%else%>
          <%if (proposal.differencebetween == true) %>
            <div class="alert alert-warning">
              <p class="text-center">Expirée</p>
            </div>    
            <p class="text-muted text-center">Cette proposition a atteint la date d'expiration</p>    
          <%else%> 
            <div class="alert alert-info">
              <p class="text-center">Validée</p>
            </div>
            <p class="text-muted text-center">Cette proposition a atteint les 5 votes, une action est en cours.</p> 
          <%end%>
        <%end%>
      <% else %>  
        <p class='text-muted' style='font-style: italic; margin-top: 0px'> Il reste : <%= proposal.lifetime %> jours avant l'expiration de la proposition</p>
      <% end %>
      <%if proposal.votes_count >1 %>
        <h5><%= proposal.votes_count %> VOTES</h5>
      <%else%>
        <h5><%= proposal.votes_count %> VOTE </h5>
      <%end%>
    </div>
    <% unless proposal.votes_count == 0 %>
      <div class="card-footer" style="padding-top: 0px;  margin-bottom: 0px;">
        <div class="price">
          <small class="flex-row"><i class="material-icons">upgrade</i> <span>Classement général : <%= proposal.general_classification %></span></small>
          <small class="flex-row"><i class="material-icons">upgrade</i> <span>Classement catégorie <%= proposal.category.name %> : <%= proposal.category_classification %></span></small>
        </div>
      </div>
    <% end %>
  </div>
</div>