<div class="jumbotron my-jumbotron" style="background-image: url(https://images.unsplash.com/photo-1547104984-924116a9c464?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1217&q=80);">
  <div class="container">
    <h1 class="display-4 text-white"><b>Faites porter votre voix et agissez ensemble dans votre ville</b></h1>
    <p  class="text-white">Agora est une plate-forme citoyenne vous permettant de proposer et de partager des initiatives locales  </p>
    <p><%= link_to 'Je veux créer ma proposition', new_proposal_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>

<div class="container">
  <h2 class="text-center"><b>Comment ça marche ?</b></h2>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-7">
      <h2 class="featurette-heading">Consultez et votez pour les propositions de votre ville <i class="material-icons" style="font-size: 35px">how_to_vote</i>
      <p class="lead">Chaque jour des citoyens des votre ville postent des propositions pour améliorer le quotidien de la ville. Consultez et débattez des propositions ensemble !</p>
    </div>
    <div class="col-sm-5">
      <img class="my-img" src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" >
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-5">
      <img class="my-img" src="https://images.unsplash.com/photo-1550418290-a8d86ad674a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" >
    </div>
    <div class="col-sm-7">
      <h2 class="featurette-heading">Proposez des idées sur des thèmes qui vous inspirent <i class="material-icons" style="font-size: 35px">wb_incandescent</i></h2>
      <p class="lead">Une idée vous inspire depuis longtemps ? Sur Agora, vous êtes libres de proposer vos idées pour la ville. Nous veillons à ce que les propositions les plus pertinentes soient présentes.</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-7">
      <h2 class="featurette-heading">Sélectionnez les meilleures idées ensemble et agissez ! <i class="material-icons" style="font-size: 35px">people</i></h2>
      <p class="lead">Sur Agora, le système de vote permet de faire ressortir les meilleures propositions. Ensemble, unissez-vous pour faire avancer les choses!</p>
    </div>
    <div class="col-sm-5">
      <img class="my-img" src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" >
    </div>
  </div>
</div>
<br>
<br>
  
<div class="jumbotron my-jumbotron" style="background-image: url(https://images.unsplash.com/photo-1547104984-924116a9c464?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1217&q=80);">
  <div class="container">
    <h3 class="display-4 text-white"><b>Faites porter votre voix et changez votre ville !</b></h3>
    <p><%= link_to 'Je veux créer ma proposition', new_proposal_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>
  
<div class = "container">
  <h2 class="text-center"><b>Les meilleures propositions du moment</b></h2>
  <div class="col-md-6">
    <h3 class="text-center"><b>Paris</b></h3>
    <div class="card">
      <div class="card-content">
        <table class="table table-responsive table-full-width">
          <tbody>
            <% @proposal_paris.each do |x|%>
              <tr>
                <td></td>
                <td>
                  <h4>#<%= @proposal_paris.index(x)+1 %></h4>
                </td>
                <td>
                  <%if x.picture.attached?%>
                    <%= image_tag x.picture, alt: "Card image", width: 170, style: "height: auto" %>
                  <%else%>
                    <p>=Image=</p>
                  <%end%>
                </td>
                <td class="flex-column">
                  <p><%= x.title %></p>
                  <p><a class="btn btn-primary btn-round btn-sm" href= "<%= proposal_path(x) %>" role="button">
                    <i class="material-icons" style="font-size: 15px">visibility</i> Voir la proposition
                    </a>
                    <span class="badge"><%= x.category.name %></span>
                  </p>
                </td>
                <td><td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="text-center"><b>Lyon</b></h3>
    <div class="card">
      <div class="card-content">
        <table class="table table-responsive table-full-width">
          <tbody>
            <%@proposal_lyon.each do |x|%>
            <tr>
              <td></td>
              <td>
                <h4>#<%=@proposal_lyon.index(x)+1%></h4>
              </td>
              <td>
                <%if x.picture.attached?%>
                  <%= image_tag x.picture, alt: "Card image", width: 170, style: "height: auto" %>
                <%else%>
                  <p>=Image=</p>
                <%end%>                  
              </td>
              <td class="flex-column">
                <p><%= x.title %></p>
                   <p><a class="btn btn-primary btn-round btn-sm" href= "<%= proposal_path(x) %>" role="button">
                     <i class="material-icons" style="font-size: 15px">visibility</i> Voir la proposition
                     </a>
                     <span class="badge badge-primary"><%= x.category.name %></span>
                   </p>
              </td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
    
<div class="jumbotron my-jumbotron" style="background-image: url(https://images.unsplash.com/photo-1547104984-924116a9c464?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1217&q=80);">
  <div class="container">
    <h3 class="display-4 text-white"><b>D'autres villes sont disponibles sur Agora! N'hésitez pas à les consulter !</b></h3>
    <div class="dropdown">
      <button href="#" class="btn dropdown-toggle btn-primary btn-lg" data-toggle="dropdown" aria-expanded="true" >
        <i class="material-icons">home</i>  Les villes disponibles
        <b class="caret"></b>
      </button>
      <ul class="dropdown-menu">
        <% City.all.each do |x| %>
          <li><a href="cities/<%=x.id%>"><%=x.name%></a></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
    
<div class = "container text-center">
  <h4 class="display-4 text-white"><b>Votre ville n'est pas encore disponible ? Dites-nous d'ou vous venez !</b></h4>
  <p><a class="btn btn-primary " href="mailto: zeagoraproject@gmail.com" role="button"><i class="material-icons">mail</i>   Nous contacter</a></p>
</div>