<div class="container">
  <br><br><br>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-product">
        <div class="card-image" data-header-animation="true" style="height: 300px">
          <%if @proposal.picture.attached?%>
            <%= image_tag @proposal.picture, alt: 'Picture' %>
          <%else%>
            <p>Aucun image</p>
          <%end%>
        </div>
        <div class="card-content">
          <div class="card-actions">
            <a href ='<%= @proposal.city.id %>' class="btn btn-simple" style='color: #2eb67d; '>
              <i class="material-icons">location_city</i> <%= @proposal.city.name %>
            </a>
            <a href ='#' class="btn btn-simple" style='color: #e01e5a; '>
              <i class="material-icons">category</i> <%= @proposal.category.name %>
            </a>
          </div>
          <h4 class="card-title">
            <%= @proposal.title %>
          </h4>
          <div class="card-description">
            <%= @proposal.purpose %>
          </div>
        </div>
        <div class="card-footer p-2">
          <%= @proposal.description %>
        </div>
      </div>
    </div>
  </div>
</div>