<div id=<%= @proposal.id %> class="my-proposal container">
  <br>
  <h3>La proposition</h3>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6 text-wrap text-justify">
      <div class="card card-product">
        <%if @proposal.picture.attached?%>
          <div class="card-image" data-header-animation="true">
            <%= image_tag @proposal.picture, alt: 'Picture', style: "height: 50vh;" %>
          </div>
        <%end%>
        <div class="card-header">
          <h4 class="card-title"><%= @proposal.title %><br>
            <div class='flex-row-center'>
              <%= link_to "#{@proposal.city.name}", city_path(@proposal.city.id), class: 'btn btn-primary btn-round btn-xs' %>
              <span class="badge badge-primary"><%= @proposal.category.name %></span>
            </div>
          </h4>
        </div>
        <div class="card-content">
          <ul class="nav nav-pills nav-pills-warnin">
            <li class="active primary">
              <a href="#pill1" data-toggle="tab">Problème adressé</a>
            </li>
            <li>
              <a href="#pill2" data-toggle="tab">Solution proposée</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="pill1">
              <%= @proposal.purpose %>
            </div>
            <div class="tab-pane" id="pill2">
              <%= @proposal.description %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-1'></div>
    <div class="col-md-5">
      <div class="col">
        <div class="card card-testimonial">
          <div class="card-content">
            <h5 class="text-muted" style="margin-bottom: 2px">Une proposition de</h5>
            <h6 class="card-title" style="margin-bottom: 0px"><%= @proposal.user.first_name %> <%= @proposal.user.last_name %></h6>
            <div>
              <% if is_current_user_owner_of?(@proposal) %>
                <button id="tweet-btn" class="btn btn-simple btn-twitter" style="margin-top: 0px; margin-bottom: 0px">
                  <i class="fa fa-twitter"></i> Tweeter ma proposition
                </button><br>
                <small class="text-muted">Besoin d'éditer ta proposition ? Ecrivez au support Agora !</small><br>
                <a class="btn btn-primary btn-xs" href="mailto: zeagoraproject@gmail.com" role="button">Ecrire au support</a>
              <% end %>
            </div>
          </div>
          <div class="footer">
            <% if @proposal.user.avatar.attached? %>
              <div class="card-avatar">
                <%= image_tag @proposal.user.avatar, alt: 'Picture', style: "width: 100%;height: auto;" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content text-center">
            <% unless is_current_user_owner_of?(@proposal) %>
              <%if (@proposal.differencebetween == false)%>
                <h5 class="text-muted">Votez pour cette proposition</h5>
                <%if @proposal.vote_of(current_user)%>
                  <%= link_to '<i class="material-icons" style="font-size: 19px">how_to_vote</i> A voté'.html_safe, proposal_vote_path(@proposal.id, @proposal.vote_of(current_user).id), :class => "btn btn-success", method: :delete %>
                <%else%>
                  <%= link_to ' Je vote', proposal_votes_path(@proposal.id), :class => "btn btn-primary", method: :post %>
                <% end %>
              <%else%>
                <h5> Vote terminé</h5>
              <%end%>
            <% end %>
            <h5><%= @proposal.votes_count %> Votes</h5>
          </div>
          <% unless @proposal.votes_count == 0 %>
            <div class="card-footer">
              <div class="price">
                <small class="flex-row"><i class="material-icons">upgrade</i> <span>Classement général : <%= @proposal.general_classification %></span></small>
                <small class="flex-row"><i class="material-icons">upgrade</i> <span>Classement catégorie <%= @proposal.category.name %> : <%= @proposal.category_classification %></span></small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col">
        <% if user_signed_in? %>
          <% if is_current_user_admin? %>
            <%= form_tag proposal_pictures_path(@proposal), multipart: true do %>
              <%= file_field_tag :picture %>
              <%= submit_tag "Mettre à jour" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class = container>
<br>
<h3>Espace débat</h3><br>
  <%= form_tag url_for(proposal_comments_path(@proposal.id)) do %> 
    <%= label_tag "Que pensez-vous de cette proposition?" %>
    <%= text_field_tag 'title',"", {class: 'form-control'}%>
    <%= submit_tag "Envoyer", {class: 'btn btn-primary text-right'} %>
  <% end %>
<br>
<%if @comments.count != 0%>
  <h4><b>Les avis des citoyens </b></h4><br>
<%end%>
<table class="table">
    <tbody>
      <%@comments.each do |x|%>
        <tr>
            <td>
              <b>
              <% if @proposal.user.avatar.attached? %>
                <div class="avatar">
                  <%= image_tag @proposal.user.avatar, alt: 'Picture', style: "width: 100%;height: auto;" %>
                </div>
              <%else%>
                <div class="avatar">
                  <i class="material-icons" style="font-size: 17px">face</i> <%=" "%><%=x.user.first_name%><%=" "%><%=x.user.last_name%>
                </div>
              <%end%>
              </b><br>
              <p><%=x.content%></p>
              <p class = primary> 
              Message posté le <%=x.created_at.to_formatted_s(:short)%>
              <%if user_signed_in?%>
                <%if current_user.id == x.user.id%>
                  <%= link_to 'effacer',proposal_comment_path(@proposal.id, x.id), class: 'btn btn-danger btn-xs',method: :delete %>
                <%end%>
              <%end%>
              </p>
            </td>
        </tr>
      <%end%>
    </tbody>
</table>
</div>