<div class="container">
  <br><br><br><br>
  <div class="row">
    <div class="col-md-6 text-wrap text-justify">
      <div class="card card-product">
        <div class="card-image" data-header-animation="true">
          <%if @proposal.picture.attached?%>
          <%= image_tag @proposal.picture, alt: 'Picture', class: 'img' %>
          <%else%>
          <p>Aucun image</p>
          <%end%>
        </div>
        <div class="card-content" style="padding-top: 0px">
          <div class="card-actions">
            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
              <i class="material-icons">build</i> Remettre l'image
            </button>
          </div>
        </div>
        <div class="card-header">
          <h4 class="card-title"><%= @proposal.title %><br>
            <small class='btn btn-secondry btn-round btn-xs'><%= @proposal.category.name %></small> -
            <%= link_to "#{@proposal.city.name}", city_path(@proposal.city.id), class: 'btn btn-primary btn-round btn-xs' %>
          </h4>
        </div>
        <div class="card-content">
          <ul class="nav nav-pills nav-pills-warnin">
            <li class="active primary">
              <a href="#pill1" data-toggle="tab">A quel problème souhaite répondre <%= @proposal.user.first_name %> ?</a>
            </li>
            <li>
              <a href="#pill2" data-toggle="tab">Concrètement que souhaite t-il mettre en place ?</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="pill1">
              <%= @proposal.purpose %>
            </div>
            <div class="tab-pane" id="pill2">
              <%= @proposal.description %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-1'></div>
    <div class="col-md-5">
      <div class="col">
        <div class="card card-testimonial">
          <div class="card-content">
            <h5 class="text-muted" style="margin-bottom: 2px">Une proposition de</h5>
            <h6 class="card-title" style="margin-bottom: 15px"><%= @proposal.user.first_name %> <%= @proposal.user.last_name %></h6>
            <div>
              <% if is_current_user_owner_of?(@proposal) %>
                <small class="text-muted">Besoin d'éditer la demande ? Ecrivez au support Agora!</small><br>
                <a class="btn btn-primary btn-xs" href="mailto: zeagoraproject@gmail.com" role="button">Ecrire au support</a>
              <% end %>
            </div>
          </div>
          <div class="footer">
            <div class="card-avatar">
              <a href="#pablo">
                <% if @proposal.user.avatar.attached? %>
                  <%= image_tag @proposal.user.avatar, alt: 'Picture', class:'img' %>
                <% else %>
                  <p>Aucun avatar</p>
                <% end %>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-content text-center">
            <% unless is_current_user_owner_of?(@proposal) %>
              <h5 class="text-muted">Votez pour cette proposition</h5>
              <%if @proposal.vote_of(current_user)%>
                <%= link_to "A voté", proposal_vote_path(@proposal.id, @proposal.vote_of(current_user).id), :class => "btn btn-primary", method: :delete %>
              <%else%>
                <%= link_to "Je vote", proposal_votes_path(@proposal.id), :class => "btn btn-secondary", method: :post %>
              <% end %>
            <% end %>
            <h5><%= @proposal.votes_count %> Votes</h5>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">arrow_circle_up</i> classement général : <%= @proposal.general_classification %> <br>
              <i class="material-icons">arrow_circle_up</i>
              <i class="material-icons">category</i> Classement catégorie <%= @proposal.category.name %> : <%= @proposal.category_classification %>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <% if user_signed_in? %>
          <% if is_current_user_admin? %>
            <%= form_tag proposal_pictures_path(@proposal), multipart: true do %>
              <%= file_field_tag :picture %>
              <%= submit_tag "Mettre à jour" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>