<div class="jumbotron jumbotron-fluid" style="background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: 100%;">
  <div class="container">
    <h1 class="display-4">Les propositions citoyennes à <%= @city.name %></h1>
    <p class="lead">Retrouvez les meilleurs propositions du moment ci-dessous</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
          <i class="material-icons">filter_alt</i>
        </div>
        <div class="card-content">
          <div class="row">
            <br><br>
            <div class="col-xs col-sm-6">
              <select id="category" class="selectpicker" data-style="select-with-transition" multiple title="Choisissez une catégorie" data-size="7">
                <% @categories.each do |category| %>
                <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-xs col-sm-6">
              <select id="more_filters" class="selectpicker" data-style="btn btn-primary btn-round btn-md" title="Plus de filtres" data-size="7">
                <option value="1">Les plus récentes</option>
                <option value="2">Les plus votés</option>
                <option value="3">Les plus débattues</option>
              </select>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button id="validate_btn" class="btn btn-primary btn-round btn-sm" type="button"><i class="material-icons">check</i> Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% if @proposals.count == 0 %>
  <h3> Personne n'a posté de proposition à <%= @city.name %> pour le moment. Si tu veux le faire, clique sur le bouton : </h3>
  <p><%= link_to 'Je veux créer ma proposition', new_proposal_path, class: 'btn btn-primary btn-lg' %></p>
  <%else%>
  <h3>Les propositions en cours : votez pour vos propositions préférées !</h3>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-content">
          <table class="table table-responsive table-full-width">
            <tbody>
              <% @proposals.each do |x| %>
              <tr>
                <td></td>
                <td>
                  <h4>#<%= @proposals.index(x)+1 %></h4>
                </td>
                <td>
                  <%if x.picture.attached?%>
                  <%= image_tag x.picture, alt: "Card image", width: 170, style: "height: auto" %>
                  <%else%>
                  <p>=Image=</p>
                  <%end%>
                </td>
                <td>
                  <h4><%=x.title=%></h4>
                  <a class="btn btn-primary btn-round btn-sm" href= "/proposals/<%=x.id%>" role="button">
                    <i class="material-icons" style="font-size: 15px">visibility</i> Voir la proposition
                  </a>
                  <span class="badge badge-primary"><%= x.category.name %></span>
                </td>
                <%if x.vote_of(current_user)%>
                <td>
                  <%= link_to "#{x.votes_count}", proposal_vote_path(x.id, x.vote_of(current_user).id), :class => "btn btn-primary btn-lg", method: :delete%>
                  <h5> A voté ! <i class="material-icons" style="font-size: 20px" >done</i></h5>
                </td>
                <%else%>
                <td> 
                  <%= link_to "#{x.votes_count}", proposal_votes_path(x.id), :class => "btn btn-success btn-lg", method: :post%>
                  <h5> Voter <i class="material-icons"style="font-size: 20px" >arrow_drop_up</i></h5>
                </td>
                <%end%>
                <td><td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>
  
  <script>
    $(document).ready(() => {
      $('#validate_btn').click(() => {
        console.log('click')
        let url = "/items";
        $.ajax({
          url: url,
          type: 'GET',
          dataType: 'html',
          data: { category_id: category_id },
          success: (result) => {
            $('#items_container').remove(); 
            let items_container = $(result).filter('#items_container')[0];
            $('#category_selector').after(items_container);
          },
          error: (error) => {
            console.log(error);
          }
        });
      })
    })
  </script>