<div class="jumbotron jumbotron-fluid" style="background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: 100%;">
  <div class="container">
    <h1 class="display-4">Les propositions citoyennes à <%=@city.name%></h1>
    <p class="lead">Retrouvez les meilleurs propositions du moment ci-dessous</p>
  </div>
</div>


<div class="container">
  <h3>Les propositions en cours : votez pour vos propositions préférées!</h3>
  <div class="card">
    <div class="card-content table-responsive table-full-width">
      <table class="table">
        <tbody>
          <% @proposals.each do |x| %>
          <tr>
            <td></td>
            <td>
              <h5>#<%= @proposals.index(x)+1 %></h5>
            </td>
            <td>
              <img src = "https://images.pexels.com/photos/338515/pexels-photo-338515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="height: 100px; width: 100px;">
            </td>
            <td>
              <h4><%=x.title=%></h4>
              <span class="badge badge-primary"><%= x.category.name %></span>
              <a href = "/proposals/<%=x.id%>">Voir la proposition</a>
            </td>
            <%if x.vote_of(current_user)%>
            <td>
              <%= link_to "#{x.votes_count}", proposal_vote_path(x.id, x.vote_of(current_user).id), :class => "btn btn-primary btn-lg", method: :delete%>
              <h5> A voté! <i class="material-icons"style="font-size: 20px" >done</i></h5>
            </td>
            <%else%>
            <td> 
              <%= link_to "#{x.votes_count}", proposal_votes_path(x.id), :class => "btn btn-secondary btn-lg", method: :post%>
              <h5> Voter   <i class="material-icons"style="font-size: 20px" >arrow_drop_up</i></h5>
            </td>
            <%end%>
            <td><td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  