<div class="jumbotron jumbotron-fluid" style="background-image: url(https://images.pexels.com/photos/87501/pexels-photo-87501.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: 100%;">
  <div class="container">
    <h1 class="display-4">Les propositions citoyennes à <%=@city.name%></h1>
    <p class="lead">Retrouvez les meilleurs propositions du moment ci-dessous</p>
  </div>
</div>


<div class="container">
<h3>Les propositions en cours : votez pour vos propositions préférées!</h3>
<div class="card">
	<div class="card-content table-responsive table-full-width">
		<table class="table">
			<tbody>
				<%@proposal.each do |x|%>
        <tr>
          <td></td>
					<td>
            <h5>#<%=@proposal.index(x)+1%></h5>
          </td>
          <td>
            <img src = "https://images.pexels.com/photos/338515/pexels-photo-338515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="height: 100px; width: 100px;">
          </td>
					<td>
            <h4><%=x.title=%></h4>
            <span class="badge badge-primary"><%= x.category.name %></span>
            <a href = "">Voir la proposition</a>
          </td>
          <%if x.vote_of(current_user)%>
            <td>
              <%= link_to "#{x.votes_count}", proposal_vote_path(x.id, x.vote_of(current_user).id), :class => "btn btn-primary btn-lg", method: :delete%>
              <p> Annuler le vote <i class="material-icons"style="font-size: 15px" >clear</i></p>
            </td>
          <%else%>
            <td> 
              <%= link_to "#{x.votes_count}", proposal_votes_path(x.id), :class => "btn btn-primary btn-lg", method: :post%>
              <p>Je vote!<i class="material-icons"style="font-size: 15px" >done</i></p>
            </td>
          <%end%>
          <td><td>
				</tr>
        <%end%>
			</tbody>
		</table>
	</div>
</div>
</div>
		    