<div class="container">
  <div class="row">
    <div class="col-md-7 city">
      <h1 class="display-4">Les propositions citoyennes à <%=@city.name%></h1>
      <p class="lead">Retrouvez les meilleures propositions du moment ci-dessous</p>
    </div>
    <div class="col-md-5 city">
     <%= image_tag("city.svg", style: "width:100%") %>
    </div>
  </div>
</div>
<br>
<br>
<div id="filter" class="container">
  <div class="row">
    <div class="col-xs col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
          <i class="material-icons">filter_alt</i>
        </div>
        <div class="card-content">
          <div class="row">
            <h6 class='text-muted'>Filtre de propositions</h6>
            <div class="col-xs col-sm-6">
              <select id="categories" class="selectpicker" data-style="select-with-transition" multiple title="Choisissez une catégorie" data-size="7">
                <% @categories.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-xs col-sm-6">
              <select id="more_filters" class="selectpicker" data-style="btn btn-primary btn-round btn-md" title="Plus de filtres" data-size="7">
                <option value="1">Les plus récentes</option>
                <option value="2">Les plus votés</option>
                <option value="3">Les plus débattues</option>
              </select>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button id="validate_btn" class="btn btn-primary btn-round btn-sm" type="button"><i class="material-icons">check</i> Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>

<% @numnow = 0 %>
<% @numthen = 0 %>
<% @proposals.each do |x| %>
  <%if (x.differencebetween == false) %>
    <% @numnow += 1 %>
  <%else%>
    <% @numthen += 1 %>
  <%end%>
<%end%>

<div id=<%= @city.id %> class="my-city">
  <div class="container">
    <% if @proposals.count == 0 %>
      <div class='no-proposal'>
        <h3> Personne n'a posté de proposition à <%= @city.name %> pour le moment.  Change ça en cliquant sur le bouton : </h3>
        <p><%= link_to 'Je veux créer ma proposition', new_proposal_path, class: 'btn btn-primary btn-lg' %></p>
      </div>
    <%elsif @numnow == 0 %>
      <div class='no-proposal'>
        <h3> Aucune proposition en cours à <%= @city.name %>. Change ça en cliquant sur le bouton : </h3>
        <p><%= link_to 'Je veux créer ma proposition', new_proposal_path, class: 'btn btn-primary btn-lg' %></p>
      </div>
    <%else%>
      <h3>Les propositions en cours : votez pour vos propositions préférées !</h3>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-content">
              <table class="table table-responsive table-full-width">
                <tbody>
                  <% @proposals.each do |x| %>
                    <%if (x.differencebetween == false) && x.votes_count < 1%>
                      <tr>
                        <td></td>
                        <td>
                          <h3 class='text-primary'><%= @proposals.index(x)+1 %></h3>
                        </td>
                        <td>
                          <%if x.picture.attached?%>
                            <%= image_tag x.picture, alt: "Card image", width: 170, style: "height: auto" %>
                          <%else%>
                            <p>=Image=</p>
                          <%end%>
                        </td>
                        <td>
                          <h4 class='text-wrap'><%= x.title %></h4>
                          <% t = (Time.now- (x.created_at+(60*60*24*30)))%>
                          <p class='text-muted'> Il reste : <%= ((t.to_i)/(60*60*24)).abs %> jours pour voter</p>
                          <a class="btn btn-primary btn-round btn-sm" href= "/proposals/<%=x.id%>" role="button">
                            <i class="material-icons" style="font-size: 15px">visibility</i> Voir la proposition
                          </a>
                          <a class="btn btn-primary btn-round btn-sm" href= "/proposals/<%=x.id%>" role="button">
                            <i class="material-icons" style="font-size: 15px">mode_comment</i> <%=x.comments.count%>
                          </a>
                          <span class="badge badge-primary"><%= x.category.name %></span>
                        </td>
                          <td class='text-center'>
                            <%if x.vote_of(current_user)%>
                              <%= link_to "<i class='material-icons' style='font-size: 19px'>sentiment_satisfied_alt</i> A voté!".html_safe, proposal_vote_path(x.id, x.vote_of(current_user).id), :class => "btn btn-success btn-lg", method: :delete%>
                            <%else%>
                              <%= link_to "<i class='material-icons' style='font-size: 19px'>how_to_vote</i> Je vote".html_safe, proposal_votes_path(x.id), :class => "btn btn-primary btn-lg", method: :post%>
                            <%end%>
                            <%if x.votes_count>1%>
                              <h5> <%=x.votes_count%> votes</h5>
                            <%else%>
                              <h5> <%=x.votes_count%> vote</h5>
                            <%end%>
                          </td>
                        <td><td>
                      </tr>
                    <%end%>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>

  <div class="container">
    <% if @numthen == 0 %>
      <div class='no-proposal'>
        <h3> Pas de proposition terminée à <%= @city.name %> pour le moment. </h3>
      </div>
    <%else%>
      <h3>Les propositions terminées :</h3>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-content">
              <table class="table table-responsive table-full-width">
                <tbody>
                  <% @proposals.each do |x| %>
                    <%if (x.differencebetween == true) ||  x.votes_count >= 1%>
                    <tr>
                      <td></td>
                      <td>
                        <h3 class='text-primary'><%= @proposals.index(x)+1 %></h3>
                      </td>
                      <td>
                        <%if x.picture.attached?%>
                          <%= image_tag x.picture, alt: "Card image", width: 170, style: "height: auto" %>
                        <%else%>
                          <p>=Image=</p>
                        <%end%>
                      </td>
                      <td>
                        <h4 class='text-wrap'><%=x.title %></h4>
                        <a class="btn btn-primary btn-round btn-sm" href= "/proposals/<%=x.id%>" role="button">
                          <i class="material-icons" style="font-size: 15px">visibility</i> Voir la proposition
                        </a>
                        <span class="badge badge-primary"><%= x.category.name %></span>
                      </td>
                      <td>
                        <%if (x.differencebetween == true) %>
                          <div class="alert alert-warning">
                            <p class="text-center">Expirée</p>
                          </div>   
                          <p class="text-muted text-center">Cette proposition a atteint la date d'expiration</p>    
                        <%elsif x.votes_count >= 1%> 
                          <div class="alert alert-info">
                            <p class="text-center">Validée</p>
                          </div>
                          <p class="text-muted text-center">Cette proposition a atteint les 100 votes!</p> 
                        <%end%>
                      <td>
                    </tr>
                    <%else%>
                    <%end%>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
